# Django
SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
CSRF_TRUSTED_ORIGINS=http://localhost:10000,http://127.0.0.1:10000
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
CSRF_COOKIE_SAMESITE=Lax

# PostgreSQL / Django database connection
POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=change-me
DB_NAME=foodgram
DB_HOST=db
DB_PORT=5432
POSTGRES_PORT=5432

# Static and media paths inside backend container
STATIC_ROOT=/app/static
MEDIA_ROOT=/app/media