SECRET_KEY=replace_me
DEBUG=False
ALLOWED_HOSTS=*

POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_pass
POSTGRES_PORT=5432

DB_NAME=${POSTGRES_DB}
DB_USER=${POSTGRES_USER}
DB_PASSWORD=${POSTGRES_PASSWORD}
DB_HOST=db
DB_PORT=${POSTGRES_PORT}